body{
    display:block;
    font-family: "Georgia", serif;
    background-image: url("https://cdn.wallpapersafari.com/55/73/ghY4rc.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
}
.container
{
    position: relative;
    height:600px;
    left:0px;
   
}
.heder
 {
    height:140px;
    width:100%; 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO8AAxAr9ZNr9JCwn2QZ35rSWWuiayhh0ayQ&usqp=CAU");
    background-size: 300px;
    background-repeat: no-repeat;
    border-bottom:5px solid #066847;
    padding-top: 50px;
    font-size: 50px;
    color:rgb(160, 0, 75);
    
}
.btn{
    position:absolute;
    top:45px;
    right:20px;
    
}
button{
    color:rgb(255, 255, 255);
    height:45px;
    width:100px;

    background-image: linear-gradient(rgb(240, 162, 46),rgb(139, 30, 228));
    border-radius: 10px;

    
}
#data
{
    width:99%;
    height:450px;
    text-align: right;
    justify-content: center;
    display: flex;   
    
}
.table
{
    width:800px;

}
table{
    color:rgb(250, 246, 30);
    font-size: 18px;
    font-family: "Georgia", serif;
    font: 700;
    
}
table tr :hover{
    background-color:rgb(173, 5, 189);

}
img{
    clip-path: circle();
}
